<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>156922778313-70e0sdnk5dqcnct0jvh182jfg8d32i6s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.156922778313-70e0sdnk5dqcnct0jvh182jfg8d32i6s</string>
	<key>API_KEY</key>
	<string>AIzaSyCCfVZAZ6Z1-vvsbKWdEhu0Wp8IzE-XyI8</string>
	<key>GCM_SENDER_ID</key>
	<string>156922778313</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.starbucksrevamp.starbucks</string>
	<key>PROJECT_ID</key>
	<string>starbucks-4d36f</string>
	<key>STORAGE_BUCKET</key>
	<string>starbucks-4d36f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:156922778313:ios:474d938f0f98ec3670f318</string>
</dict>
</plist>